.parameters-card {
    padding: 10px;
    background: #F3F3F3;
    border-radius: 15px;
    border-left: 3px #00559D solid;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-header {
    padding: 0 15px;
}

.header-title {
    color: black;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-align: center;
}

.parameter-group {
    padding: 2px 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.parameter-label {
    color: black;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.parameter-input {
    width: 100%;
    height: 36px;
}

.input-field {
    width: 100%;
    height: 100%;
    padding: 4px 29px;
    background: white;
    border: 1px solid #B8B8B8;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: black;
}

.parameter-hint {
    color: black;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}