.Header {
    width: 100%;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    background: black;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.HomeBtn {
    width: 80px;
    height: 26px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.HomePageIcon {
    width: 20px;
    height: 20px;
    filter: invert(1);
    object-fit: contain;
}

.HomeText {
    width: 55px;
    height: 18px;
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}